div#about data-role='dialog' data-title='About BoochReader'
  p BoochReader is an app designed to make it easier to keep up with reading new on the Internet.
  p Use it to read Twitter feeds, RSS feeds, and Pocket (formerly Read It Later) articles, and keep track of what you've read.
  a data-icon='back' data-rel='back' data-role='button' href='#main' Okay

