<div id="main" data-role="page" data-title="BoochReader">
  <header data-role="header">
    <h1>This app does nothing!</h1>
  </header>

  <div data-role="content">
    <p>But it does run on WebOS!</p>
  </div>

  <footer data-role="footer">
    <a href="#webos-app-menu" data-role="button">Menu</a>
  </footer>
</div>
