<div id="preferences" data-role="dialog" data-title="BoochReader Preferences">
  <header data-role="header">
    <h1>Preferences</h1>
  </header>

  <div data-role="content">
    <p>Preferences go here</p>
  </div>

  <footer data-role="footer">
    <a data-rel="back" data-role="button" href="#main">Okay</a>
  </footer>
</div>
