<div id="webos-app-menu" class="webos-menu" data-role="popup">
  <ul>
    <li><a href="#about" data-rel="dialog">About</a></li>
    <li><a href="#preferences" data-rel="dialog">Preferences<a/></li>
    <li><a href="#help">Help</a></li>
  </ul>
</div>
