<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>BoochReader</title>

    <meta name="application-name" content="BoochReader">

    <!-- Optimize viewport for mobile devices. See https://github.com/h5bp/html5-boilerplate/blob/v4.0.0/doc/html.md#mobile-viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/application.css" media="all">

    <!-- Use PhoneGap (Apache Cordova) to normalize differences between platforms. -->
    <script type="text/javascript" src="assets/cordova-2.4.0.js"></script>

    <!-- Pull in some common libs to make JavaScript development easier. -->
    <script type="text/javascript" src="assets/jquery.js"></script>
    <script type="text/javascript" src="assets/jquery.mobile.js"></script>

    <!-- Pull in app-specific JavaScript code. -->
    <script type="text/javascript" src="assets/application.js"></script>

    <script type="text/javascript" src="assets/webos.js"></script>

  </head>

  <body>

    <%= yield %>

  </body>

</html>
